/* -------- Witcher Stylesheet ----------- */

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color:#181818;
    /* height: 9999px; */
    overflow: auto;
}


h1{ 
    text-align: left;
    color: #fff;
    font-family: 'Uncial Antiqua', cursive;
}

h3 {
    text-align: left;
    color: #fff;
}

.align-left {
    text-align: center;
    font-family: 'Uncial Antiqua', cursive;
    margin-top: 27px;
}


p {
    color: gray;
}

p.text-center {
    text-align: center;
    list-style-type: none;
    font-weight: 200;
}

header {
    background-color: #181818;
    /* position: fixed; */
    width: 100%;
    /* z-index: 1000; */
}

.logo {
    background-image: url('witcher-logo-bg-2.png');
    background-repeat: no-repeat;
    height: 174px;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    transition: width 0.2s ease;
}

.logo.resize {
    width: 100px;
}

.row {
    text-align: center;
    margin-top: 1.5rem;
}
.row a { 
    text-decoration: none;
    color: white;
}

.btn {
    padding: 10px 35px;
    border: 1px solid white;
    background-color: #181818;
}

/* .charContainer {
    padding-top: 350px;
} */

.collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* margin-top: 375px;
    padding: 0 0 2500px; */
}

.character {
    display:block;
    width: 280px;
    height: 400px;
    margin: 50px;
    margin-bottom: 50px;
    /* box-shadow: 6px 6px 5px black; */

}

.character:hover {
    transform: scale(1.015);
}

video {
    outline: none;
    margin: 2rem;
    border-radius: 15px;
}

img { 
    border-radius: 15px;
}

img.player {
    width: 280px;
    height: 400px;
    background-repeat: no-repeat;
    border-radius: 15px;
}

#container {
    display: flex;
    background-color: rgba(0, 0, 0, 0.70);
}

.container {
    display: flex;
    margin: 2rem auto;
    margin: 5%;
    align-items: flex-start;
    flex-direction: row;
    max-width: 1200px;
    height: auto;
    border-radius: 15px;
    border: 1px solid #909090;
    /* background-color:#181818; */
    background-color: rgba(0, 0, 0, 0.7);;
}

.data {
    display: block;
    margin-right: 5rem;
    margin-left: 5%;
}

.abilities {
    color: gray;
    margin-left: -20px;
}

.shadow {
    box-shadow: 6px 6px 5px black;
    border-radius: 15px;
    height: 400px;
}

/* -------- FORM STYLES ---------- */

form {
    display: flex;
    justify-content: center;
    width: 35%;
    margin: 0 auto;
    padding-bottom: 30px;
}

input[type=text], textarea {
    width: 210px;
    box-sizing: border-box;
    border: 1px solid #A0A0A0;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 3rem;
    background-color:#181818;
    background-image: url('searchIcon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color:#A0A0A0;
    outline: none;;
  }
  
  input[type=text]:focus, textarea {
    width: 100%;
    background-color:#181818;
  }

  input[type=text]:active, textarea {
    width: 100%;
    background-color:#181818;
  }

  /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */

  }
  
  /* Modal Content */
  .modal-content {
    /* background-color: black; */
    margin: auto;
    margin-top: 2rem;
    padding: 20px;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 58px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .myBtn {
      background-color: #181818;
      border: 0;
      outline: none;
  }

  .myBtn p {
    font-size:1.25rem;
  }

  .link-title {
    text-decoration: none;
    color: gray;
}

.link-title:hover,
.link-title:active {
    color: red;
}

.modalContainer {
    display: flex;
    flex-direction: row;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.9);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 60%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    /* background: #181818; */
    color: white;
    /* background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999); */
}

.close {
    /* background: #606061; */
    color: #FFFFFF;
    /* line-height: 25px; */
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 64px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 50%;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: red; }

.scrollable {
    height: 300px;
    overflow-y: scroll;
}


