/* -------- Witcher Stylesheet ----------- */

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color:#181818;
}

h1 { 
    text-align: center;
    color: #fff;
}

header {
    background-color: #181818;
}

.row {
    text-align: center;
    margin-top: 1.5rem;
}
.row a { 
    text-decoration: none;
    color: white;
}

.btn {
    padding: 10px 35px;
    border: 1px solid white;
}

.collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 4rem;
}

.character {
    display:block;
    background-color: black;
    width: 280px;
    height: 400px;
    margin: 50px;
    margin-bottom: 50px;
    box-shadow: 6px 6px 5px black;

}

.character:hover {
    transform: scale(1.015);
}

video {outline: none;}

/* -------- FORM STYLES ---------- */

form {
    display: flex;
    justify-content: center;
    width: 35%;
    margin: 0 auto;
}

input[type=text] {
    width: 210px;
    box-sizing: border-box;
    border: 1px solid #A0A0A0;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 3rem;
    background-color:#181818;
    background-image: url('searchIcon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    color:#A0A0A0;
    outline: none;;
  }
  
  input[type=text]:focus {
    width: 100%;
    background-color:#181818;
  }