/* -------- Witcher Stylesheet ----------- */

body {
    font-family: 'Open Sans', sans-serif;
    background-color:#0a0f0f;
}

h1 { 
    text-align: center;
    color: #fff;
}

.collection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.character {
    display:block;
    background-color: black;
    width: 280px;
    height: 400px;
    margin: 20px;
    box-shadow: 6px 6px 5px black;
    outline: none;
}